# Vim #
#######
*.swp

# Python #
##########
*.pyc
__pycache__

# OS Files #
############
.DS_Store

# Data Files #
##############
*.csv

# git-mergetool #
#################
*.orig

# Notepad ++ #
##############
*_BACKUP_*.xml
*_BASE_*.xml
*_LOCAL_*.xml
*_REMOTE_*.xml
